.sidebar{
    padding: 20px 0px;
    flex: 0.30;
    position: fixed;
    background-color: black;
    margin-left: 1340px;
    height: 100vh;
    width: 30%;

}

@media (max-width: 1200px){
    .sidebarRow{
    margin-left: 1250px;    
    width: 20%;
   
    }
}